.playlist-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 60vw;
}

.playlist-container .song {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  height: 100px;
}

.right-details {
  display: flex;
  align-items: center;
}

.left-details {
  width: 40vw;
  cursor: pointer;
}

.heart-icon {
  cursor: pointer;
}
